html {
  color: #2c3e50;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
}

body {
	margin: 0;
}

#root {
	display: flex;
	flex-direction: column;
}

.main {
  flex: 1;
}

.bg-dark {
  background-color: #12002b;
  padding-top: 3rem;
}

/* Style global pour les lecteurs d'écran */
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/* Style global pour tous les placeholders */
input::placeholder,
textarea::placeholder {
  font-size: 0.875rem; 
  color: #888; 
}